<!DOCTYPE html>
<!--[if IE 8]>
<html xmlns="http://www.w3.org/1999/xhtml" class="ie8 wp-toolbar"  lang="zh-CN">
<![endif]-->
<!--[if !(IE 8) ]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" class="wp-toolbar"  lang="zh-CN">
<!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>客户列表 - __WEBNAME__</title>
<script type="text/javascript">
addLoadEvent = function(func){if(typeof jQuery!="undefined")jQuery(document).ready(func);else if(typeof wpOnload!='function'){wpOnload=func;}else{var oldonload=wpOnload;wpOnload=function(){oldonload();func();}}};
var ajaxurl = '/test/wp-admin/admin-ajax.php',
	pagenow = 'users',
	typenow = '',
	adminpage = 'users-php',
	thousandsSeparator = ',',
	decimalPoint = '.',
	isRtl = 0;
</script>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<link rel='stylesheet' href='__PUBLIC__/css/load-styles.css' type='text/css' media='all' />
<link rel='stylesheet' id='open-sans-css'  href='//fonts.useso.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C300%2C400%2C600&#038;subset=latin%2Clatin-ext&#038;ver=4.2.2' type='text/css' media='all' />
<!--[if lte IE 7]>
<link rel='stylesheet' id='ie-css'  href='__PUBLIC__/css/ie.min.css' type='text/css' media='all' />
<![endif]-->		
<script type='text/javascript'>
/* <![CDATA[ */
var userSettings = {"url":"\/test\/","uid":"1","time":"1435128498","secure":""};/* ]]> */
</script>
<script type='text/javascript' src='__PUBLIC__/js/load-scripts.js'></script>
<script type="text/javascript">var _wpColorScheme = {"icons":{"base":"#999","focus":"#00a0d2","current":"#fff"}};</script>
	<script>
		if ( window.history.replaceState ) {
			window.history.replaceState( null, null, document.getElementById( 'wp-admin-canonical' ).href + window.location.hash );
		}
	</script>
<style type="text/css" media="print">#wpadminbar { display:none; }</style>
<script src="http://libs.baidu.com/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/ajax.js"></script>
</head>
<body class="wp-admin wp-core-ui no-js  users-php admin-bar branch-4-2 version-4-2-2 admin-color-midnight locale-zh-cn no-customize-support no-svg">
<script type="text/javascript">
	document.body.className = document.body.className.replace('no-js','js');
</script>

	<script type="text/javascript">
		(function() {
			var request, b = document.body, c = 'className', cs = 'customize-support', rcs = new RegExp('(^|\\s+)(no-)?'+cs+'(\\s+|$)');

			request = true;

			b[c] = b[c].replace( rcs, ' ' );
			b[c] += ( window.postMessage && request ? ' ' : ' no-' ) + cs;
		}());
	</script>
<script type="text/javascript">
//隐藏表单里的预约日期和就诊日期
$(function(){
  $(":radio[name=is_apponit]").click(function(){
	  if('yes' == $(this).val()) {
		  $("#appoint_date_tr").show();
	  } else if('no' == $(this).val()) {
		  $("#appoint_date_tr").hide();
	  }
  });
  $(":radio[name=visited]").click(function(){
	  if('yes' == $(this).val()) {
		  $("#visit_time_tr").show();
	  } else if('no' == $(this).val()) {
		  $("#visit_time_tr").hide();
	  }
  });

 });
 
//点击复选框更新日期
var ajax_url_update_appoint="{:U('Ajax/updateAppoint')}";
//更新就诊卡号
var ajax_url_update_health="{:U('Ajax/updateHealth')}";
//更新回访结果
var ajax_url_update_visit="{:U('Ajax/updateVisit')}";
//更新导医备注
var ajax_url_update_mark="{:U('Ajax/updateMark')}";
//更改用户名字
var ajax_url_update_name="{:U('Ajax/updateName')}";

</script>
<div id="wpwrap">

<include file="Public:left_menu" />

<div id="wpcontent">

<include file="Public:top_menu" />
		
<div id="wpbody" role="main">

<div id="wpbody-content" aria-label="主内容" tabindex="0">
		<div id="screen-meta" class="metabox-prefs">
				<div id="screen-options-wrap" class="hidden" tabindex="-1" aria-label="“显示选项”选项卡">
		<form id="adv-settings" method="get" action="{:U('admin')}">
					<h5>请输入查询条件</h5>
					<div class="metabox-prefs">
<table class="form-table">
	<tr class="form-field">
		<th scope="row" style="padding-top:5px;padding-bottom:5px;text-align:right;"><label for="is_apponit">确定日期</label></th>
		<td style="padding-top:5px;padding-bottom:5px;"><input name="is_apponit" type="radio" style="width:auto;" value="yes">是　<input name="is_apponit" type="radio" value="no" style="width:auto;">否</td>
	</tr>
	<tr class="form-field" id="appoint_date_tr" style="display:none;">
	  <th scope="row" style="padding-top:5px;padding-bottom:5px;text-align:right;"><label for="appoint_date1">预约日期</label></th>
	  <td style="padding-top:5px;padding-bottom:5px;">从 <input name="appoint_date1" type="date" id="appoint_date1" value="" style="width:auto;" /> 至 <input name="appoint_date2" type="date" id="appoint_date2" value="" style="width:auto;" /></td>
	  </tr>
      <tr class="form-field">
	  <th scope="row" style="padding-top:5px;padding-bottom:5px;text-align:right;"><label for="visited">是否来院</label></th>
	  <td style="padding-top:5px;padding-bottom:5px;"><input name="visited" type="radio" value="yes" style="width:auto;">是　<input name="visited" type="radio" value="no" style="width:auto;">否</td>
	  </tr>
	<tr class="form-field" id="visit_time_tr" style="display:none;">
		<th scope="row" style="padding-top:5px;padding-bottom:5px;text-align:right;"><label for="visit_time1">就诊日期</label></th>
		<td style="padding-top:5px;padding-bottom:5px;">从 <input name="visit_time1" type="date" id="visit_time1" value="" style="width:auto;" /> 至 <input name="visit_time2" type="date" id="visit_time2" value="" style="width:auto;" /></td>
	</tr>
    <tr class="form-field">
		<th scope="row" style="padding-top:5px;padding-bottom:5px;text-align:right;"><label for="add_time">提交时间</label></th>
		<td style="padding-top:5px;padding-bottom:5px;">从 <input name="add_time1" type="date" id="add_time1" value="" style="width:auto;" /> 至 <input name="add_time2" type="date" id="add_time2" value="" style="width:auto;" /></td>
	</tr>
    <tr class="form-field">
		<th scope="row" style="padding-top:5px;padding-bottom:5px;text-align:right;"><label for="input_employee">报备人</label></th>
		<td style="padding-top:5px;padding-bottom:5px;"><input name="input_employee" type="text" id="input_employee" style="width:355px;" /></td>
	</tr>
	<tr class="form-field">
	  <th scope="row" style="padding-top:5px;padding-bottom:5px;text-align:right;"><label for="appoint_no">预约号</label></th>
	  <td style="padding-top:5px;padding-bottom:5px;"><input name="appoint_no" type="text" id="appoint_no" style="width:355px;" /></td>
	  </tr>
      <tr class="form-field">
	  <th scope="row" style="padding-top:5px;padding-bottom:5px;text-align:right;"><label for="case">病种</label></th>
	  <td style="padding-top:5px;padding-bottom:5px;"><input name="case" type="text" id="case" style="width:355px;" /></td>
	  </tr>
      <tr class="form-field">
	  <th scope="row" style="padding-top:5px;padding-bottom:5px;text-align:right;"><label for="appoint_office">预约科室</label></th>
	  <td style="padding-top:5px;padding-bottom:5px;"><select name="appoint_office" id="appoint_office">
		  <option value="" selected>-请选择-</option>
		  <option value='近视专科'>近视专科</option>
		  <option value='白内障科'>白内障科</option>
		  <option value='屈光不正'>屈光不正</option>
		  <option value='青光眼科'>青光眼科</option>
		  <option value='斜弱视科'>斜弱视科</option>
          <option value='眼底病科'>眼底病科</option>
          <option value='泪道病科'>泪道病科</option>
          <option value='角膜病科'>角膜病科</option>
          <option value='眼表病科'>眼表病科</option>
          <option value='眼眶病科'>眼眶病科</option>
          <option value='眼外伤科'>眼外伤科</option>
          <option value='视疲劳科'>视疲劳科</option>
          <option value='低视力科'>低视力科</option>
          <option value='医学验配'>医学验配</option>
          <option value='眼整形科'>眼整形科</option>
          <option value='综合病科'>综合病科</option>
          <option value='其它科室'>其它科室</option>
		  </select></td>
	  </tr>
      <tr class="form-field">
	  <th scope="row" style="padding-top:5px;padding-bottom:5px;text-align:right;"><label for="appoint_doctor">预约专家</label></th>
	  <td style="padding-top:5px;padding-bottom:5px;"><select name="appoint_doctor" id="appoint_doctor">
		  <option value="" selected>-请选择-</option>
          <volist name="dlist" id="vod">
		  <option value='{$vod.doctor_name}'>{$vod.doctor_name}</option>
          </volist>
		  </select></td>
	  </tr>
      <tr class="form-field">
	  <th scope="row" style="padding-top:5px;padding-bottom:5px;text-align:right;"><label for="appoint_way">预约方式</label></th>
	  <td style="padding-top:5px;padding-bottom:5px;"><select name="appoint_way" id="appoint_way">
		  <option value="" selected>-请选择-</option>
		  <option value='商务通 baidu'>商务通 baidu</option>
		  <option value='商务通 haosou'>商务通 haosou</option>
		  <option value='商务通 sougou'>商务通 sougou</option>
          <option value='商务通 seo'>商务通 seo</option>
		  <option value='电话预约'>电话预约</option>
          <option value='网医转诊'>网医转诊</option>
          <option value='现场筛查'>现场筛查</option>
          <option value='QQ预约'>QQ预约</option>
          <option value='微信预约'>微信预约</option>
          <option value='网上预约'>网上预约</option>
          <option value='商桥预约'>商桥预约</option>
          <option value='短信预约'>短信预约</option>
          <option value='外网预约'>外网预约</option>
          <option value='团购预约'>团购预约</option>
          <option value='留言预约'>留言预约</option>
          <option value='其它预约'>其它预约</option>
		  </select></td>
	  </tr>
      <tr class="form-field">
	  <th scope="row" style="padding-top:5px;padding-bottom:5px;text-align:right;"><label for="c_source">患者来源</label></th>
	  <td style="padding-top:5px;padding-bottom:5px;"><select name="c_source" id="c_source">
		  <option value="" selected>-请选择-</option>
		  <option value='百度推广'>百度推广</option>
		  <option value='好搜推广'>好搜推广</option>
		  <option value='搜狗推广'>搜狗推广</option>
          <option value='医生介绍'>医生介绍</option>
          <option value='现场筛查'>现场筛查</option>
		  <option value='官方微信'>官方微信</option>
          <option value='腾讯QQ'>腾讯QQ</option>
          <option value='朋友介绍'>朋友介绍</option>
          <option value='品牌口碑'>品牌口碑</option>
          <option value='自然优化'>自然优化</option>
          <option value='网上留言'>网上留言</option>
          <option value='外推媒体'>外推媒体</option>
          <option value='商家团购'>商家团购</option>
          <option value='外网友链'>外网友链</option>
          <option value='高校巡展'>高校巡展</option>
          <option value='平面报纸'>平面报纸</option>
          <option value='平面杂志'>平面杂志</option>
          <option value='电视媒体'>电视媒体</option>
          <option value='网络媒体'>网络媒体</option>
          <option value='户外广告'>户外广告</option>
          <option value='社区广告'>社区广告</option>
          <option value='其它渠道'>其它渠道</option>
		  </select></td>
	  </tr>
      <tr class="form-field">
	  <th scope="row" style="padding-top:5px;padding-bottom:5px;text-align:right;"><label for="transfer">区域</label></th>
	  <td style="padding-top:5px;padding-bottom:5px;"><input name="transfer" type="text" id="transfer" placeholder="地区、医院、转诊医生" style="width:355px;" /></td>
	  </tr>
      <tr class="form-field">
		<th scope="row" style="padding-top:5px;padding-bottom:5px;text-align:right;"><label for="is_apponit">姓名条件</label></th>
		<td style="padding-top:5px;padding-bottom:5px;"><input name="name_type" type="radio" style="width:auto;" value="name" checked>姓名　<input name="name_type" type="radio" value="old_name" style="width:auto;">曾用名</td>
	</tr>
      <tr class="form-field">
	  <th scope="row" style="padding-top:5px;padding-bottom:5px;text-align:right;"><label for="c_name">患者姓名</label></th>
	  <td style="padding-top:5px;padding-bottom:5px;"><input name="c_name" type="text" id="c_name" style="width:355px;" /></td>
	  </tr>
      <tr class="form-field">
	  <th scope="row" style="padding-top:5px;padding-bottom:5px;text-align:right;"><label for="tel">联系电话</label></th>
	  <td style="padding-top:5px;padding-bottom:5px;"><input name="tel" type="text" id="tel" style="width:355px;" /></td>
	  </tr>
	</table>
<p class="submit" style="text-align:center;">
<input name="adv" type="hidden" value="search">
<input type="submit" name="createuser" id="createusersub" class="button button-primary" value="搜索"  /></p>
			</div>
		</form>
		</div>
				</div>
                
                <div id="screen-meta-links">
					<div id="screen-options-link-wrap" class="hide-if-no-js screen-meta-toggle">
			<a href="#screen-options-wrap" id="show-settings-link" class="show-settings" aria-controls="screen-options-wrap" aria-expanded="false">高级搜索</a>
			</div>
				</div>
				
<div class="wrap">
<h2>
用户	<a href="{:U('index/addcustomer')}" class="add-new-h2">添加用户</a>
</h2>

<ul class='subsubsub'>
	<li class='all'><a href='{:U('admin')}' class="current">全部<span class="count">（{$customerCount}）</span></a></li>
</ul>
<form method="get" action="{:U('admin')}">

	<div class="tablenav top">
	<div class="alignleft actions" style="display:none;">
				<label class="screen-reader-text" for="new_role">将角色变更为&hellip;</label>
		<select name="new_role" id="new_role">
			<option value="">将角色变更为&hellip;</option>
			
	<option value='subscriber'>订阅者</option>
	<option value='contributor'>投稿者</option>
	<option value='author'>作者</option>
	<option value='editor'>编辑</option>
	<option value='administrator'>管理员</option>		</select>
	<input type="submit" name="changeit" id="changeit" class="button" value="更改"  /></div><div class='tablenav-pages'>{$page}</div>

		<br class="clear" />
	</div>
<table class="wp-list-table widefat fixed striped users">
	<thead>
	<tr>
        <th scope='col' class='manage-column column-uname'>姓名</th>
        <th scope='col' class='manage-column column-uname'>曾用名</th>
        <th scope='col' class='manage-column column-telnum'>电话</th>
        <th scope='col' class='manage-column column-kind'>病种</th>
        <if condition="($_GET['ord'] eq 'appoint_date_desc') OR ($_GET['ord'] eq '') ">
        <th scope="col" class="manage-column column-cdate sortable asc"><a href="{:U('admin?ord=appoint_date_asc' ,array('keyword'=>$_GET['keyword']))}"><span>预约日期</span><span class="sorting-indicator"></span></a></th>
        <else />
        <th scope="col" class="manage-column column-cdate sortable desc"><a href="{:U('admin?ord=appoint_date_desc' ,array('keyword'=>$_GET['keyword']))}"><span>预约日期</span><span class="sorting-indicator"></span></a></th>
        </if>
        <th scope='col' class='manage-column column-baobeiren'>报备人</th>
        <if condition="($_GET['ord'] eq 'add_time_desc') OR ($_GET['ord'] eq '') ">
        <th scope="col" class="manage-column column-ctime sortable asc"><a href="{:U('admin?ord=add_time_asc' ,array('keyword'=>$_GET['keyword']))}"><span>提交时间</span><span class="sorting-indicator"></span></a></th>
        <else />
        <th scope="col" class="manage-column column-ctime sortable desc"><a href="{:U('admin?ord=add_time_desc' ,array('keyword'=>$_GET['keyword']))}"><span>提交时间</span><span class="sorting-indicator"></span></a></th>
        </if>
        <th scope='col' class='manage-column column-yuyuefs'>预约方式</th>
        <th scope='col' class='manage-column column-yuyuezj'>预约专家</th>
        <th scope='col' class='manage-column column-yuyueks'>预约科室</th>
        <th scope='col' class='manage-column column-daoyuan'>是否到院</th>
        <if condition="($_GET['ord'] eq 'visit_time_desc') OR ($_GET['ord'] eq '') ">
        <th scope="col" class="manage-column column-ctime sortable asc"><a href="{:U('admin?ord=visit_time_asc' ,array('keyword'=>$_GET['keyword']))}"><span>就诊时间</span><span class="sorting-indicator"></span></a></th>
        <else />
        <th scope="col" class="manage-column column-ctime sortable desc"><a href="{:U('admin?ord=visit_time_desc' ,array('keyword'=>$_GET['keyword']))}"><span>就诊时间</span><span class="sorting-indicator"></span></a></th>
        </if>
        <th scope='col' class='manage-column column-jzcard'>就诊卡号</th>
        <th scope='col' class='manage-column column-yuyuehao'>预约号</th>
        <th scope='col' class='manage-column column-daoyibeizhu'>导医备注</th>
        <th scope='col' class='manage-column column-huifangjg'>回访结果</th>
        <th scope='col' class='manage-column column-identity'>病情描述</th>
        <th scope='col' class='manage-column column-zhuanzhenys'>区域/转诊/医生</th>
        <th scope='col' class='manage-column column-yuyuefs'>患者来源</th>
	</tr>
    </thead>

	<tbody id="the-list" data-wp-lists='list:user'>
    
<volist name="clist" id="vo1">
	<tr id='user-{$vo1.cid}'>
    <td class="ctext-left" id="chnam{$vo1.cid}"><strong><a href="{:U('Index/view')}?id={$vo1.cid}" target="_blank">
    <if condition="($vo1.c_name neq '')">
    {$vo1.c_name}
    <else />
    　　
    </if>
    </a></strong><br /><div class="row-actions"><span class='edit'><a href="{:U('Index/editcustomer')}?id={$vo1.cid}">编辑</a> | </span><span class='delete'><a class='submitdelete' href='{:U('Index/delcustomer')}?id={$vo1.cid}'>删除</a></span></div></td>
    <td class="ctext-left" id="chna{$vo1.cid}" onclick="change_name(this,{$vo1.cid})">{$vo1.c_old_name}</td>
    <td class="ctext-left">{$vo1.tel}</td>
    <td class="ctext-left">{$vo1.case}</td>
    <td class="ctext-left">
    {$vo1.appoint_date}<br />
    <if condition="($vo1.appoint_time neq '')">
    大约 {$vo1.appoint_time} 点
    </if>
    </td>
    <td class="ctext-left">{$vo1.input_employee_name}</td>
    <td class="ctext-left">{$vo1.add_time}</td>
    <td class="ctext-left">{$vo1.appoint_way}</td>
    <td class="ctext-left">{$vo1.appoint_doctor}</td>
    <td class="ctext-left">{$vo1.appoint_office}</td>
    <if condition="$vo1.visit_time eq '0000-00-00 00:00:00'">
    <td class="ctext-middle"><input onClick="checkJump('{$vo1.cid}');" id='chk{$vo1.cid}' type="checkbox" /><br /><span style="color:#999">{$vo1.input_guide}</span></td>
    <td class="ctext-left" id="appointResult{$vo1.cid}">0000-00-00 00:00:00</td>
    <else />
    <td class="ctext-middle"><input type="checkbox" checked disabled /><br><span style="color:#999">{$vo1.input_guide}</span></td>
    <td class="ctext-left" id="appointResult{$vo1.cid}" style="color:#F00">{$vo1.visit_time}</td>
    </if>
    <td class="ctext-left" id="chkh{$vo1.cid}" onclick="checkkhNote(this,{$vo1.cid})">{$vo1.health_id}</td>
    <td class="ctext-left">{$vo1.appoint_no}</td>
    <td class="ctext-left" id="chkm{$vo1.cid}" onclick="checkmkNote(this,{$vo1.cid})">{$vo1.patient_guide_mark}</td>
    <td class="ctext-left" id="chkv{$vo1.cid}" onclick="checkrvNote(this,{$vo1.cid})">{$vo1.return_visit}</td>
    <td class="ctext-left">{$vo1.detail}</td>
    <td class="ctext-left">{$vo1.transfer}</td>
    <td class="ctext-left">{$vo1.c_source}</td>
    </tr>
</volist>
    
    </tbody>
	<tfoot>
	<tr>
        <th scope='col' class='manage-column column-uname'>姓名</th>
        <th scope='col' class='manage-column column-uname'>曾用名</th>
        <th scope='col' class='manage-column column-telnum'>电话</th>
        <th scope='col' class='manage-column column-kind'>病种</th>
        <if condition="($_GET['ord'] eq 'appoint_date_desc') OR ($_GET['ord'] eq '') ">
        <th scope="col" class="manage-column column-cdate sortable asc"><a href="{:U('admin?ord=appoint_date_asc' ,array('keyword'=>$_GET['keyword']))}"><span>预约日期</span><span class="sorting-indicator"></span></a></th>
        <else />
        <th scope="col" class="manage-column column-cdate sortable desc"><a href="{:U('admin?ord=appoint_date_desc' ,array('keyword'=>$_GET['keyword']))}"><span>预约日期</span><span class="sorting-indicator"></span></a></th>
        </if>
        <th scope='col' class='manage-column column-baobeiren'>报备人</th>
        <if condition="($_GET['ord'] eq 'add_time_desc') OR ($_GET['ord'] eq '') ">
        <th scope="col" class="manage-column column-ctime sortable asc"><a href="{:U('admin?ord=add_time_asc' ,array('keyword'=>$_GET['keyword']))}"><span>提交时间</span><span class="sorting-indicator"></span></a></th>
        <else />
        <th scope="col" class="manage-column column-ctime sortable desc"><a href="{:U('admin?ord=add_time_desc' ,array('keyword'=>$_GET['keyword']))}"><span>提交时间</span><span class="sorting-indicator"></span></a></th>
        </if>
        <th scope='col' class='manage-column column-yuyuefs'>预约方式</th>
        <th scope='col' class='manage-column column-yuyuezj'>预约专家</th>
        <th scope='col' class='manage-column column-yuyueks'>预约科室</th>
        <th scope='col' class='manage-column column-daoyuan'>是否到院</th>
        <if condition="($_GET['ord'] eq 'visit_time_desc') OR ($_GET['ord'] eq '') ">
        <th scope="col" class="manage-column column-ctime sortable asc"><a href="{:U('admin?ord=visit_time_asc' ,array('keyword'=>$_GET['keyword']))}"><span>就诊时间</span><span class="sorting-indicator"></span></a></th>
        <else />
        <th scope="col" class="manage-column column-ctime sortable desc"><a href="{:U('admin?ord=visit_time_desc' ,array('keyword'=>$_GET['keyword']))}"><span>就诊时间</span><span class="sorting-indicator"></span></a></th>
        </if>
        <th scope='col' class='manage-column column-jzcard'>就诊卡号</th>
        
        <th scope='col' class='manage-column column-yuyuefs'>预约号</th>
        <th scope='col' class='manage-column column-daoyibeizhu'>导医备注</th>
        <th scope='col' class='manage-column column-huifangjg'>回访结果</th>
        <th scope='col' class='manage-column column-identity'>病情描述</th>
        <th scope='col' class='manage-column column-zhuanzhenys'>区域/转诊/医生</th>
        <th scope='col' class='manage-column column-yuyuefs'>患者来源</th>
	</tr>
    </tfoot>

</table>
	<div class="tablenav bottom">

		<div class="alignleft actions" style="display:none;">
				<label class="screen-reader-text" for="new_role">将角色变更为&hellip;</label>
		<select name="new_role" id="new_role">
			<option value="">将角色变更为&hellip;</option>
			
	<option value='subscriber'>订阅者</option>
	<option value='contributor'>投稿者</option>
	<option value='author'>作者</option>
	<option value='editor'>编辑</option>
	<option value='administrator'>管理员</option>		</select>
	<input type="submit" name="changeit" id="changeit" class="button" value="更改"  /></div>
<div class='tablenav-pages'>{$page}</div>
		<br class="clear" />
	</div>
</form>

<br class="clear" /><input type="button" onclick="window.open('{:U('Xsl/daochu')}?adv={$all['adv']}&is_apponit={$all['is_apponit']}&appoint_date1={$all['appoint_date1']}&appoint_date2={$all['appoint_date2']}&visited={$all['visited']}&visit_time1={$all['visit_time1']}&visit_time2={$all['visit_time2']}&add_time1={$all['add_time1']}&add_time2={$all['add_time2']}&input_employee={$all['input_employee']}&appoint_no={$all['appoint_no']}&case={$all['case']}&appoint_office={$all['appoint_office']}&appoint_doctor={$all['appoint_doctor']}&appoint_way={$all['appoint_way']}&c_source={$all['c_source']}&transfer={$all['transfer']}&c_name={$all['c_name']}&tel={$all['tel']}&ord={$all['ord']}')" value="导出">
</div>

<div class="clear"></div></div><!-- wpbody-content -->
<div class="clear"></div></div><!-- wpbody -->
<div class="clear"></div></div><!-- wpcontent -->

<include file="Public:footer" />

	<div id="wp-auth-check-wrap" class="hidden">
	<div id="wp-auth-check-bg"></div>
	</div>
	
<script type='text/javascript'>
/* <![CDATA[ */
var commonL10n = {"warnDelete":"\u60a8\u5c06\u6c38\u4e45\u5220\u9664\u6240\u9009\u9879\u76ee\u3002\n\u70b9\u51fb\u201c\u53d6\u6d88\u201d\u505c\u6b62\uff0c\u70b9\u51fb\u201c\u786e\u5b9a\u201d\u5220\u9664\u3002","dismiss":"\u5ffd\u7565\u6b64\u901a\u77e5\u3002"};var heartbeatSettings = {"nonce":"2f0e584758"};var authcheckL10n = {"beforeunload":"\u60a8\u7684\u767b\u5f55\u4f1a\u8bdd\u5df2\u8fc7\u671f\uff0c\u8bf7\u91cd\u65b0\u767b\u5f55\u3002","interval":"180"};/* ]]> */
</script>
<script type='text/javascript' src='__PUBLIC__/js/load-scripts2.js'></script>

<div class="clear"></div></div><!-- wpwrap -->
<script type="text/javascript">if(typeof wpOnload=='function')wpOnload();</script>
</body>
</html>