<div id="adminmenumain" role="navigation" aria-label="主页">
<a href="#wpbody-content" class="screen-reader-shortcut">跳至主内容</a>
<a href="#wp-toolbar" class="screen-reader-shortcut">跳至工具栏</a>
<div id="adminmenuback"></div>
<div id="adminmenuwrap">
<ul id="adminmenu">
<!--管理员和网络组才显示下列项目 BEGIN-->
<if condition="($Think.cookie.thoa_level egt 8) OR ($Think.cookie.thoa_level eq 1)">
    <if condition="($onPage eq 'statistics')">
	<li class="wp-first-item wp-has-submenu wp-has-current-submenu wp-menu-open menu-top menu-top-first menu-icon-dashboard menu-top-last" id="menu-dashboard">
	<a href='{:U('/Admin/Statistics/index')}' class="wp-has-submenu wp-has-current-submenu wp-menu-open menu-top menu-top-first menu-icon-dashboard menu-top-last" aria-haspopup="true">
    <div class="wp-menu-arrow"><div></div></div><div class='wp-menu-image dashicons-before dashicons-dashboard'><br /></div><div class='wp-menu-name'>统计</div></a></li>
    <else />
    <li class="wp-first-item wp-has-submenu wp-not-current-submenu menu-top menu-top-first menu-icon-dashboard menu-top-last" id="menu-dashboard">
	<a href='{:U('/Admin/Statistics/index')}' class="wp-first-item wp-has-submenu wp-not-current-submenu menu-top menu-top-first menu-icon-dashboard menu-top-last" aria-haspopup="true">
    <div class="wp-menu-arrow"><div></div></div><div class='wp-menu-image dashicons-before dashicons-dashboard'><br /></div><div class='wp-menu-name'>统计</div></a></li>
    </if>
</if>
<!--管理员和网络组才显示下列项目 END-->
    
    
	<li class="wp-not-current-submenu wp-menu-separator" aria-hidden="true"><div class="separator"></div></li>
    
<if condition="($onPage eq 'customer_list') OR ($onPage eq 'customer_add') ">
    <li class="wp-has-submenu wp-has-current-submenu wp-menu-open menu-top menu-icon-users" id="menu-users">
	<a href='{:U('/Admin/Index/admin')}' class="wp-has-submenu wp-has-current-submenu wp-menu-open menu-top menu-icon-users" >
<else />
    <li class="wp-has-submenu wp-not-current-submenu menu-top menu-icon-settings" id="menu-users">
	<a href='{:U('/Admin/Index/admin')}' class="wp-has-submenu wp-not-current-submenu menu-top menu-icon-settings" aria-haspopup="true">
</if>
      <div class="wp-menu-arrow">
        <div></div>
      </div>
      <div class='wp-menu-image dashicons-before dashicons-admin-users'>
      <br />
      </div><div class='wp-menu-name'>客户</div>
    </a>
	<ul class='wp-submenu wp-submenu-wrap'>
      <li class='wp-submenu-head'>客户</li>
    <if condition="($onPage eq 'customer_list')">
      <li class="wp-first-item current"><a href='{:U('/Admin/Index/admin')}'>所有客户</a></li>
    <else />
      <li class="wp-first-item"><a href='{:U('/Admin/Index/admin')}'>所有客户</a></li>
    </if>
    
    <if condition="($onPage eq 'customer_add')">
      <li class="current"><a href='{:U('/Admin/Index/addcustomer')}'>添加客户</a></li>
    <else />
      <li><a href='{:U('/Admin/Index/addcustomer')}'>添加客户</a></li>
    </if>
    </ul>
    </li>
    
        
    
	<li class="wp-not-current-submenu wp-menu-separator" aria-hidden="true"><div class="separator"></div></li>
    
<if condition="($onPage eq 'filter_list') OR ($onPage eq 'filter_add') ">
    <li class="wp-has-submenu wp-has-current-submenu wp-menu-open menu-top menu-icon-users" id="menu-users">
	<a href='{:U('/Admin/Filter/index')}' class="wp-has-submenu wp-has-current-submenu wp-menu-open menu-top menu-icon-users" >
<else />
    <li class="wp-has-submenu wp-not-current-submenu menu-top menu-icon-settings" id="menu-users">
	<a href='{:U('/Admin/Filter/index')}' class="wp-has-submenu wp-not-current-submenu menu-top menu-icon-settings" aria-haspopup="true">
</if>
      <div class="wp-menu-arrow">
        <div></div>
      </div>
      <div class='wp-menu-image dashicons-before dashicons-admin-comments'>
      <br />
      </div><div class='wp-menu-name'>筛查</div>
    </a>
	<ul class='wp-submenu wp-submenu-wrap'>
      <li class='wp-submenu-head'>筛查</li>
    <if condition="($onPage eq 'filter_list')">
      <li class="wp-first-item current"><a href='{:U('/Admin/Filter/index')}'>所有患者</a></li>
    <else />
      <li class="wp-first-item"><a href='{:U('/Admin/Filter/index')}'>所有患者</a></li>
    </if>
    
    <if condition="($onPage eq 'filter_add')">
      <li class="current"><a href='{:U('/Admin/Filter/add')}'>添加患者</a></li>
    <else />
      <li><a href='{:U('/Admin/Filter/add')}'>添加患者</a></li>
    </if>
    </ul>
    </li>
    
<!--管理员才显示下列项目 BEGIN-->
<if condition="($Think.cookie.thoa_level egt 8)">
    
	<li class="wp-not-current-submenu wp-menu-separator" aria-hidden="true"><div class="separator"></div></li>
    
<if condition="($onPage eq 'employee_list') OR ($onPage eq 'employee_add') ">
    <li class="wp-has-submenu wp-has-current-submenu wp-menu-open menu-top menu-icon-users" id="menu-users">
	<a href='{:U('/Admin/Employee/index')}' class="wp-has-submenu wp-has-current-submenu wp-menu-open menu-top menu-icon-users" >
<else />
    <li class="wp-has-submenu wp-not-current-submenu menu-top menu-icon-settings" id="menu-users">
	<a href='{:U('/Admin/Employee/index')}' class="wp-has-submenu wp-not-current-submenu menu-top menu-icon-settings" aria-haspopup="true">
</if>
      <div class="wp-menu-arrow">
        <div></div>
      </div>
      <div class='wp-menu-image dashicons-before dashicons-admin-settings'>
      <br />
      </div><div class='wp-menu-name'>员工</div>
    </a>
	<ul class='wp-submenu wp-submenu-wrap'>
      <li class='wp-submenu-head'>员工</li>
    <if condition="($onPage eq 'employee_list')">
      <li class="wp-first-item current"><a href='{:U('/Admin/Employee/index')}'>所有员工</a></li>
    <else />
      <li class="wp-first-item"><a href='{:U('/Admin/Employee/index')}'>所有员工</a></li>
    </if>
    
    <if condition="($onPage eq 'employee_add')">
      <li class="current"><a href='{:U('/Admin/Employee/addemployee')}'>新增员工</a></li>
    <else />
      <li><a href='{:U('/Admin/Employee/addemployee')}'>新增员工</a></li>
    </if>
    </ul>
    </li>
    
    
	<li class="wp-not-current-submenu wp-menu-separator" aria-hidden="true"><div class="separator"></div></li>
    
<if condition="($onPage eq 'doctor_list') OR ($onPage eq 'doctor_add') ">
    <li class="wp-has-submenu wp-has-current-submenu wp-menu-open menu-top menu-icon-users" id="menu-users">
	<a href='{:U('/Admin/Doctor/index')}' class="wp-has-submenu wp-has-current-submenu wp-menu-open menu-top menu-icon-users" >
<else />
    <li class="wp-has-submenu wp-not-current-submenu menu-top menu-icon-settings" id="menu-users">
	<a href='{:U('/Admin/Doctor/index')}' class="wp-has-submenu wp-not-current-submenu menu-top menu-icon-settings" aria-haspopup="true">
</if>
      <div class="wp-menu-arrow">
        <div></div>
      </div>
      <div class='wp-menu-image dashicons-before dashicons-admin-post'>
      <br />
      </div><div class='wp-menu-name'>专家</div>
    </a>
	<ul class='wp-submenu wp-submenu-wrap'>
      <li class='wp-submenu-head'>专家</li>
    <if condition="($onPage eq 'doctor_list')">
      <li class="wp-first-item current"><a href='{:U('/Admin/Doctor/index')}'>所有专家</a></li>
    <else />
      <li class="wp-first-item"><a href='{:U('/Admin/Doctor/index')}'>所有专家</a></li>
    </if>
    
    <if condition="($onPage eq 'doctor_add')">
      <li class="current"><a href='{:U('/Admin/Doctor/adddoctor')}'>新增专家</a></li>
    <else />
      <li><a href='{:U('/Admin/Doctor/adddoctor')}'>新增专家</a></li>
    </if>
    </ul>
    </li>
    
    
    	<li class="wp-not-current-submenu wp-menu-separator" aria-hidden="true"><div class="separator"></div></li>
    
<if condition="($onPage eq 'transfer_list') OR ($onPage eq 'transfer_add') ">
    <li class="wp-has-submenu wp-has-current-submenu wp-menu-open menu-top menu-icon-users" id="menu-users">
	<a href='{:U('/Admin/Doctor/index')}' class="wp-has-submenu wp-has-current-submenu wp-menu-open menu-top menu-icon-users" >
<else />
    <li class="wp-has-submenu wp-not-current-submenu menu-top menu-icon-settings" id="menu-users">
	<a href='{:U('/Admin/Transfer/index')}' class="wp-has-submenu wp-not-current-submenu menu-top menu-icon-settings" aria-haspopup="true">
</if>
      <div class="wp-menu-arrow">
        <div></div>
      </div>
      <div class='wp-menu-image dashicons-before dashicons-admin-page'>
      <br />
      </div><div class='wp-menu-name'>转诊</div>
    </a>
	<ul class='wp-submenu wp-submenu-wrap'>
      <li class='wp-submenu-head'>转诊</li>
    <if condition="($onPage eq 'transfer_list')">
      <li class="wp-first-item current"><a href='{:U('/Admin/Transfer/index')}'>转诊医生</a></li>
    <else />
      <li class="wp-first-item"><a href='{:U('/Admin/Transfer/index')}'>转诊医生</a></li>
    </if>
    
    <if condition="($onPage eq 'transfer_add')">
      <li class="current"><a href='{:U('/Admin/Transfer/addtransfer')}'>新增医生</a></li>
    <else />
      <li><a href='{:U('/Admin/Transfer/addtransfer')}'>新增医生</a></li>
    </if>
    </ul>
    </li>
</if>
<!--管理员才显示下列项目 END-->
    
    <if condition="($onPage eq 'change_pass')">
    <li class="wp-has-submenu wp-has-current-submenu wp-menu-open menu-top menu-icon-users" id="toplevel_page_all-in-one-seo-pack-aioseop_class"><a href='{:U('/Admin/Password/index')}' class="wp-has-submenu wp-has-current-submenu wp-menu-open menu-top menu-icon-users" aria-haspopup="true"><div class="wp-menu-arrow"><div></div></div><div class='wp-menu-image dashicons-before dashicons-admin-generic'><br /></div><div class='wp-menu-name'>修改密码</div></a></li>
    <else />
    <li class="wp-has-submenu wp-not-current-submenu menu-top menu-icon-generic toplevel_page_all-in-one-seo-pack/aioseop_class" id="toplevel_page_all-in-one-seo-pack-aioseop_class"><a href='{:U('/Admin/Password/index')}' class="wp-has-submenu wp-not-current-submenu menu-top menu-icon-generic toplevel_page_all-in-one-seo-pack/aioseop_class" aria-haspopup="true"><div class="wp-menu-arrow"><div></div></div><div class='wp-menu-image dashicons-before dashicons-admin-generic'><br /></div><div class='wp-menu-name'>修改密码</div></a></li>
    </if>
    
    <li id="collapse-menu" class="hide-if-no-js"><div id="collapse-button"><div></div></div><span>收起菜单</span></li>
    
</ul>
</div>
</div>