<!DOCTYPE html>
<!--[if IE 8]>
<html xmlns="http://www.w3.org/1999/xhtml" class="ie8 wp-toolbar"  lang="zh-CN">
<![endif]-->
<!--[if !(IE 8) ]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" class="wp-toolbar"  lang="zh-CN">
<!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>添加患者 - __WEBNAME__</title>
<link rel='stylesheet' href='__PUBLIC__/css/load-styles.css' type='text/css' media='all' />
<script type="text/javascript" src="__PUBLIC__/js/ajax.js"></script>
<script src="http://libs.baidu.com/jquery/1.7.2/jquery.min.js"></script>
<script>
var ajax_url_check_tel="{:U('Ajax/checkTel')}";
</script>
<meta name="viewport" content="width=device-width">
</head>
<body class="wp-admin wp-core-ui no-js  users-php admin-bar branch-4-2 version-4-2-2 admin-color-midnight locale-zh-cn no-customize-support no-svg mobile">
<script type="text/javascript">
	document.body.className = document.body.className.replace('no-js','js');
</script>

	<script type="text/javascript">
		(function() {
			var request, b = document.body, c = 'className', cs = 'customize-support', rcs = new RegExp('(^|\\s+)(no-)?'+cs+'(\\s+|$)');

			request = true;

			b[c] = b[c].replace( rcs, ' ' );
			b[c] += ( window.postMessage && request ? ' ' : ' no-' ) + cs;
		}());
	</script>
	
<div id="wpwrap">

<include file="Public:left_menu" />

<div id="wpcontent">

<include file="Public:top_menu" />
		
<div id="wpbody" role="main">

<div id="wpbody-content" aria-label="主内容" tabindex="0">
		<div id="screen-meta" class="metabox-prefs">
				</div>
				
<div class="wrap">
<h2 id="add-new-user"> 添加患者</h2>


<div id="ajax-response"></div>

<p>新建患者资料，注意是否重名。</p>
<form method="post" name="createuser" id="createuser" class="validate" novalidate>
<input type="hidden" name="http_referer" value="<?php echo $_SERVER['HTTP_REFERER']; ?>" /><table class="form-table">
	<tr class="form-field">
		<th scope="row"><label for="c_name">姓名</label></th>
		<td><input name="c_name" type="text" id="c_name" value="" /></td>
	</tr>
	<tr class="form-field">
		<th scope="row"><label for="sex">性别</label></th>
		<td><input name="sex" type="radio" style="width:auto;" value="1">男　<input name="sex" type="radio" value="2" style="width:auto;">女</td>
	</tr>
	<tr class="form-field">
		<th scope="row"><label for="age">年龄</label></th>
		<td><input name="age" type="number" id="age" value="" /></td>
	</tr>
    <tr class="form-field">
		<th scope="row"><label for="right_eye">右眼</label></th>
		<td><input name="right_eye" type="text" id="right_eye" value="" /></td>
	</tr>
    <tr class="form-field">
		<th scope="row"><label for="left_eye">左眼</label></th>
		<td><input name="left_eye" type="text" id="left_eye" value="" /></td>
	</tr>
    <tr class="form-field">
		<th scope="row"><label for="detail">眼部情况</label></th>
		<td><input name="detail" type="text" id="detail" value="" /></td>
	</tr>
    <tr class="form-field">
		<th scope="row"><label for="tel">联系电话</label></th>
		<td><input name="tel" type="text" id="tel" value="" onblur="checkTel();" /> <span id="telResult"></span></td>
	</tr>
    <tr class="form-field">
		<th scope="row"><label for="appoint_datetime">预约时间</label></th>
		<td>
        <input name="appoint_date" type="date" id="appoint_date" value="{:date("Y-m-d" ,time())}" style="width:auto;" />日
        <select name="appoint_time" id="appoint_time">
        <option value=""></option>
        <option value="8-9">8- 9</option>
        <option value="9-10">9-10</option>
        <option value="10-11">10-11</option>
        <option value="11-12">11-12</option>
        <option value="14-15">14-15</option>
        <option value="15-16">15-16</option>
        <option value="16-17">16-17</option>
        <option value="17-18">17-18</option>
        </select>
        时
        </td>
	</tr>
    <tr class="form-field">
      <th scope="row"><label for="filter_address">筛选地址</label></th>
      <td><input name="filter_address" type="text" id="filter_address" value="" /></td>
    </tr>
    <tr class="form-field">
		<th scope="row"><label for="insurance">医保</label></th>
		<td><input name="insurance" type="radio" style="width:auto;" value="职">职工医保　<input name="insurance" type="radio" value="合" style="width:auto;">合作医保</td>
	</tr>
    
	</table>


<p class="submit"><input type="submit" name="createuser" id="createusersub" class="button button-primary" value="添加用户"  /></p>
</form>
</div>

<div class="clear"></div></div><!-- wpbody-content -->
<div class="clear"></div></div><!-- wpbody -->
<div class="clear"></div></div><!-- wpcontent -->

<include file="Public:footer" />

	<div id="wp-auth-check-wrap" class="hidden">
	<div id="wp-auth-check-bg"></div>
	</div>
	
<script type='text/javascript'>
/* <![CDATA[ */
var commonL10n = {"warnDelete":"\u60a8\u5c06\u6c38\u4e45\u5220\u9664\u6240\u9009\u9879\u76ee\u3002\n\u70b9\u51fb\u201c\u53d6\u6d88\u201d\u505c\u6b62\uff0c\u70b9\u51fb\u201c\u786e\u5b9a\u201d\u5220\u9664\u3002","dismiss":"\u5ffd\u7565\u6b64\u901a\u77e5\u3002"};var heartbeatSettings = {"nonce":"2f0e584758"};var authcheckL10n = {"beforeunload":"\u60a8\u7684\u767b\u5f55\u4f1a\u8bdd\u5df2\u8fc7\u671f\uff0c\u8bf7\u91cd\u65b0\u767b\u5f55\u3002","interval":"180"};/* ]]> */
</script>
<script type='text/javascript' src='__PUBLIC__/js/load-scripts3.js'></script>

<div class="clear"></div></div><!-- wpwrap -->
<script type="text/javascript">if(typeof wpOnload=='function')wpOnload();</script>
</body>
</html>